* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-size: 10px;
}
body {
  background-color: #bcbaba;
  color: #737373;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
.wrapper {
  width: 414px;
  margin: 0 auto;
  background-color: #fff;
}

.header-logo {
  display: inline-block;
  margin-left: 15px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 112px;
}

.header-nav {
  margin-right: 15px;
}
/*
.header-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 580px;
}
.header-nav__list > a {
  font-size: 1.6rem;
  color: #252b42;
  padding: 10px;
  font-weight: 600;
}
.header-nav__list a:hover {
  color: #fa4a0c;
}
*/
.download {
}
.download-text {
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 414px;
  height: 282px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}
.download-text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}
.download-text span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 90px;
}
.headerDownload {
  background-color: #fafafa;
  width: 414px;
  height: 890px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.btn a {
  text-align: center;
  padding-top: 15px;
}
.btn-playStore__header,
.btn-appStore__header {
  display: block;
  color: #fa4a0c;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 36px;
  border: 1.5px solid #fa4a0c;
  width: 236px;
  height: 68px;
  border-radius: 30px;
  margin-bottom: 17px;
}

.btn-playStore__header:hover,
.btn-appStore__header:hover,
.btn-playStore__footer:hover,
.btn-appStore__footer:hover {
  background-color: #fa4a0c;
  border: 1px solid #fa4a0c;
  color: #fff;
}

.appStore:hover {
  background-color: #fa4a0c;
  border: 1.5px solid #fa4a0c;
}

.phones {
  display: flex;
  justify-content: center;
  margin-top: -500px;
}

.line {
  background-color: #e4e4e4;
  margin: 0 auto;
  width: 414px;
  height: 3px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #000000;
  margin-bottom: 50px;
}

.mainAppWork img {
  margin-top: -110px;
  margin-bottom: -200px;
}

.mainAppWork {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.mainAppWork__text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #fa4a0c;
  margin-top: 65px;
}

.mainAppWork__text h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #000000;
  margin: 32px auto 50px;
}

.mainAppWork__text h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
}

.footerDownload {
  background-color: #252b42;
  width: 100%;
  height: 564px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.footerDownload h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.footerDownload__text {
  margin-top: 115px;
  padding-bottom: 85px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footerDownload__text span {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #bdbdbd;
}

.footer_btn a {
  padding: 18px 31px;
}

.btn-playStore__footer,
.btn-appStore__footer {
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 36px;
  border: 1px solid white;
  padding: 28px 58px;
  border-radius: 10px;
}
.btn-playStore__footer {
  margin-right: 34px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  padding-bottom: 45px;
}

.footer-icons a {
  margin-right: 24px;
}
.footer-icons a:last-child {
  margin-right: 0;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #5c5c5c;
  margin-top: 8px;
}
